html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Playfair Display', Arial, serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

header {
  margin-top: 76px;
  margin-bottom: 104px;
}

.wrapper {
  width: 901px;
  margin: 0 auto;
}

.main-nav-list {
  text-align: center;
 }

 .main-nav-list a {
   display: block;
 }

.articles-list-item-theme {
  font-family: 'Ubuntu', Arial, sans-serif;
  color: #b4ad9e;
  line-height: 17px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 28px;
}

.articles-list-item-heading {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 32px;
}

.articles-list-item-text {
  font-size: 14px;
}

.button-load-more {
  font-size: 20px;
  line-height: 24px;
}

.main-nav-link {
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.articles-list {
  list-style: none;
  font-size: 0;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #8ecef8;
}

.main-nav-list li {
  display: inline-block;
}

.main-nav-list li:first-child {
  margin-right: 122px;
}

.main-nav-list li:nth-child(2) {
  margin-right: 103px;
}

.main-nav-list li:nth-child(3) {
  margin-right: 95px;
}

.main-nav-list li:last-child {
  margin-right: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.articles-list {
  margin: 0;
  padding: 0;
}

.articles-list-item {
  width: 420px;
  display: inline-block;
  margin-right: 61px;
  margin-bottom: 130px;
}

.articles-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.articles-list-item:nth-child(2n) {
  margin-right: 0;
}

.button-load-more {
  display: inline-block;
  margin-left: 356px;
  margin-bottom: 70px;
  margin-top: 52px;
  padding: 22px 34px;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  cursor: pointer;
}

.box {
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  position: absolute;
  left: 507px;
  top: 1949px;
  width: 162px;
  height: 58px;
  z-index: 3;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

